@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html {
	height: 100%;
	background-color: #e3e3e3;
}
#appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* GENERAL INFO COMPONENT */
#generalInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}
#experienceFormContainer,
#generalInfoContainer,
#educationFormContainer,
#skillsFormContainer {
	background-color: white;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
		0 1px 14px 0 rgba(0, 0, 0, 0.12);
	margin: 5%;
}
#profilePicture {
	border-radius: 100px;
	box-shadow: 0px 2px 18px 1px rgba(82, 82, 82, 1);
	margin: 10%;
}
#headerContainer {
	margin: 5px;
	display: flex;
	flex-direction: column;
}
#nameHeader,
#phoneHeader,
#nameInput,
#phoneInput {
	margin: 2%;
	width: 100%;
}

#nameHeader,
#phoneHeader {
	text-align: center;
}

.icons {
	margin: 4px;
}
.icons:hover {
	cursor: pointer;
}
.editButtons {
	margin: 2%;
	width: 20%;
	border-radius: 12px;
	background-color: white;
	border: 2px #5068a9 solid;
	color: #5068a9;
	transition: 350ms;
}
.editButtons:hover {
	background-color: #5068a9;
	color: white;
	border: 2px #303f68 solid;
	cursor: pointer;
}
#generalInfoForm {
	text-align: center;
}
.saveButtons {
	margin: 2%;
	width: 20%;
	min-width: 60px;
	height: 24px;
	border-radius: 12px;
	background-color: white;
	border: 2px #689f38 solid;
	color: #689f38;
	transition: 350ms;
}
.saveButtons:hover {
	background-color: #689f38;
	border: 2px #304919 solid;
	color: white;
	cursor: pointer;
}
/* EXPERIENCE COMPONENT */
.companyNameAndLocation,
.institutionNameAndGraduation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.roleTitleAndDates {
	display: flex;
	justify-content: space-between;
}
.tasksText {
	white-space: pre-wrap;
}
#mainContainer {
	width: 100%;
}
#experienceFormContainer,
#educationFormContainer,
#skillsFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#experienceForm,
#educationForm,
#skillsForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.experienceFormContent,
.educationFormContent,
.skillsFormContent {
	width: 100%;
	padding: 4% 5% 2% 5%;
	border-bottom: 3px solid #e3e3e3;
}
.skillsFormContent {
	display: flex;
	justify-content: space-between;
}
.sectionHeaders {
	margin: 2%;
}
#dateWrap {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.roleTitle {
	width: 100%;
}
.tasks {
	margin: 3%;
}
.textForm {
	width: 305px;
	height: 315px;
}
.formLabels {
	display: flex;
	justify-content: space-between;
}
.deleteButtonContainer {
	text-align: center;
}
.deleteButtons {
	background-color: white;
	color: #d45a5a;
	border: 2px #d45a5a solid;
	width: 10%;
	text-align: center;
	border-radius: 15px;
}
.saveAndAddButtonContainer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.addEntryButton {
	width: 20%;
	border-radius: 15px;
	background-color: white;
	border: 2px black solid;
}
.formInputs {
	border: 1px solid #b1b1b1;
	border-radius: 10px;
	width: 10rem;
	height: 2rem;
	padding: 3px;
}
textarea {
	border: 1px solid #b1b1b1;
	border-radius: 10px;
}
.degreeTypeAndGPA {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
