@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html {
	height: 100%;
	background-color: #e3e3e3;
}
#appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* GENERAL INFO COMPONENT */
#generalInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 55%;
}
#experienceFormContainer,
#generalInfoContainer,
#educationFormContainer,
#skillsFormContainer {
	background-color: white;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
		0 1px 14px 0 rgba(0, 0, 0, 0.12);
	margin: 5%;
}

#headerContainer {
	margin: 5px;
	display: flex;
	flex-direction: column;
}
#nameHeader,
#phoneHeader,
#nameInput,
#phoneInput {
	margin: 2%;
	width: 100%;
}

#nameHeader,
#phoneHeader {
	text-align: center;
}

.icons {
	margin: 4px;
}
.icons:hover {
	cursor: pointer;
}
.editButtons {
	margin: 2%;
	width: 20%;
	min-width: 40px;
	max-width: 80px;
	border-radius: 12px;
	background-color: white;
	border: 2px #5068a9 solid;
	color: #5068a9;
	transition: 350ms;
}
.editButtons:hover {
	background-color: #5068a9;
	color: white;
	border: 2px #303f68 solid;
	cursor: pointer;
}
#generalInfoForm {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.saveButtons {
	margin: 2%;
	width: 20%;
	min-width: 60px;
	max-width: 100px;
	height: 24px;
	border-radius: 12px;
	background-color: white;
	border: 2px #689f38 solid;
	color: #689f38;
	transition: 350ms;
}
.saveButtons:hover {
	background-color: #689f38;
	border: 2px #304919 solid;
	color: white;
	cursor: pointer;
}
/* EXPERIENCE COMPONENT */
.companyNameAndLocation,
.institutionNameAndGraduation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.roleTitleAndDates {
	display: flex;
	justify-content: space-between;
}
.tasksText {
	white-space: pre-wrap;
	width: 100%;
}
#mainContainer {
	width: 100%;
}
#experienceFormContainer,
#educationFormContainer,
#skillsFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#experienceForm,
#educationForm,
#skillsForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.experienceFormContent,
.educationFormContent,
.skillsFormContent {
	width: 100%;
	padding: 4% 5% 2% 5%;
	border-bottom: 3px solid #e3e3e3;
}
.skillsFormContent {
	display: flex;
	justify-content: space-between;
}
.sectionHeaders {
	margin: 2%;
}
#dateWrap {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.roleTitle {
	width: 100%;
}
.tasks {
	margin: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.textForm {
	width: 305px;
	height: 315px;
}
.formLabels {
	display: flex;
	justify-content: space-between;
}
.deleteButtonContainer {
	text-align: center;
}
.deleteButtons {
	background-color: white;
	color: #d45a5a;
	border: 2px #d45a5a solid;
	width: 10%;
	max-width: 50px;
	height: 1.5rem;
	text-align: center;
	border-radius: 15px;
	transition: 350ms;
}
.deleteButtons:hover {
	background-color: #d45a5a;
	border: 2px #6d2f2f solid;
	color: white;
	cursor: pointer;
}
.saveAndAddButtonContainer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.addEntryButton {
	width: 20%;
	max-width: 100px;
	border-radius: 15px;
	background-color: white;
	border: 2px #312e2e solid;
	transition: 350ms;
}
.addEntryButton:hover {
	background-color: #312e2e;
	border: 2px #0a0a0a solid;
	color: white;
	cursor: pointer;
}
.formInputs {
	border: 1px solid #b1b1b1;
	border-radius: 10px;
	width: 10rem;
	height: 2rem;
	padding: 3px;
}
textarea {
	border: 1px solid #b1b1b1;
	border-radius: 10px;
	resize: none;
	height: 12em;
	width: 100%;
	padding: 2%;
	margin: 2%;
}
.degreeTypeAndGPA {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.textAreaFormLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tasksHeader {
	width: 100%;
}
#printButton {
	background-color: white;
	border: none;
}
@media only screen and (max-width: 360px) {
	.companyNameAndLocation,
	.institutionNameAndGraduation,
	.roleTitleAndDates {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.roleTitle,
	#dateWrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.tasks {
		margin-top: 15px;
		text-align: center;
	}
}

@media only screen and (min-width: 1110px) {
	#experienceFormContainer,
	#generalInfoContainer,
	#educationFormContainer,
	#skillsFormContainer {
		margin: 3% 15% 3% 15%;
	}
	.experienceFormContent,
	.educationFormContent,
	.skillsFormContent {
		padding: 2% 12% 2% 12%;
	}
}
